<mat-card>
    <mat-card-header>
        <mat-card-title>{{ currentWord.name | uppercase }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <button mat-raised-button color="primary" (click)="onAnswer('en')">EN</button>
        <button mat-raised-button color="accent" (click)="onAnswer('ett')">ETT</button>
    </mat-card-content>
</mat-card>

<mat-list role="list">
    <mat-list-item role="listitem">Correct answers: {{ correctAnswers }}</mat-list-item>
    <mat-list-item role="listitem">Wrong answers: {{ wrongAnswers }}</mat-list-item>
    <mat-list-item role="listitem">Total answers: {{ totalAnswers }}</mat-list-item>
</mat-list>